<div layout="column" layout-align="center center" data-ng-controller="PasswordController">
  <h3>Restore your password</h3>
  <p>Enter your account username.</p>
  <md-whiteframe class="md-whiteframe-z1" layout="">
    <form data-ng-submit="askForPasswordReset()" autocomplete="off">
      <fieldset>
        <md-input-container>
          <label>Username</label>
          <input type="text" id="username" name="username" data-ng-model="credentials.username">
        </md-input-container>
        <div layout="" layout-align="center center">
          <md-button type="submit" class="md-raised md-primary">Submit</md-button>
        </div>
        <div data-ng-show="success">
          <md-button class="md-success" data-ng-bind="success"></md-button>
        </div>
        <div data-ng-show="error">
          <md-button class="md-warn md-hue-2" data-ng-bind="error"></md-button>
        </div>
      </fieldset>
    </form>
  </md-whiteframe>
</div>
