<section layout="column" layout-align="center center" ng-controller="PasswordController">
  <h3 class="md-title">Restore your password</h3>
  <p class="md-body-1">Enter your account username.</p>
  <md-whiteframe class="md-whiteframe-z1" layout="">
    <form ng-submit="askForPasswordReset()" autocomplete="off">
      <fieldset>
        <md-input-container>
          <label>Username</label>
          <input type="text" id="username" name="username" ng-model="credentials.username">
        </md-input-container>
        <div layout="" layout-align="center center">
          <md-button type="submit" class="md-raised md-primary">Submit</md-button>
        </div>
        <div ng-show="success">
          <md-button class="md-success" ng-bind="success"></md-button>
        </div>
        <div ng-show="error">
          <md-button class="md-warn md-hue-2" ng-bind="error"></md-button>
        </div>
      </fieldset>
    </form>
  </md-whiteframe>
</section>
