<section data-ng-controller="ArticlesController">
  <div class="page-header">
    <h1>New Article</h1>
  </div>
  <md-whiteframe class="md-whiteframe-z1" layout="column">
    <form name="articleForm" data-ng-submit="create()" novalidate >
      <fieldset>
        <md-input-container>
          <label>Title</label>
          <input name="title" type="text" data-ng-model="title" id="title">
        </md-input-container>
        <md-input-container>
          <label>Content</label>
          <textarea name="content" data-ng-model="content" id="content" cols="30" rows="10"></textarea>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">Ok</md-button>
        <alert type="danger" data-ng-show="error" layout="" layout-align="center">
          <md-button class="md-accent" data-ng-bind="error"></md-button>
        </alert>
      </fieldset>
    </form>
  </md-whiteframe>
</section>
