<section>
  <h1>User <span data-ng-bind="user.username"></span></h1>
  <md-whiteframe class="md-whiteframe-z1" layout="column">
    <form name="userForm" data-ng-submit="update()" novalidate>
      <fieldset>
        <md-input-container>
          <label>First Name</label>
          <input name="firstName" type="text" data-ng-model="user.firstName" id="firstName"required>
        </md-input-container>
        <md-input-container>
          <label>Last Name</label>
          <input type="text" name="lastName" data-ng-model="user.lastName" id="lastName"/>
        </md-input-container>
        <md-input-container>
          <label>Roles</label>
          <input type="text" name="roles" data-ng-model="user.roles" id="roles" ng-list />
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">Update</md-button>
        <alert type="danger" data-ng-show="error" layout="" layout-align="center">
          <md-button class="md-warn md-hue-2" data-ng-bind="error"></md-button>
        </alert>
      </fieldset>
    </form>
  </md-whiteframe>
</section>
