<section data-ng-controller="ChangePasswordController">
  <md-whiteframe class="md-whiteframe-z1" layout="column">
    <form data-ng-submit="changeUserPassword()" autocomplete="off">
      <fieldset>
        <md-input-container>
          <label>Current Password</label>
          <input type="password" id="currentPassword" name="currentPassword" data-ng-model="passwordDetails.currentPassword">
        </md-input-container>
        <md-input-container>
          <label>New Password</label>
          <input type="password" id="newPassword" name="newPassword" data-ng-model="passwordDetails.newPassword">
        </md-input-container>
        <md-input-container>
          <label>New Password</label>
          <input type="password" id="verifyPassword" name="verifyPassword" data-ng-model="passwordDetails.verifyPassword">
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">Save Password</md-button>
        <div data-ng-show="success" layout="" layout-align="center">
          <md-button class="md-success">Password Changed Successfully</md-button>
        </div>
        <div data-ng-show="error" layout="" layout-align="center">
          <md-button class="md-warn md-hue-2" data-ng-bind="error"></md-button>
        </div>
      </fieldset>
    </form>
  </md-whiteframe>
</section>

