<section data-ng-controller="EditProfileController">
  <md-whiteframe class="md-whiteframe-z1" layout="column">
    <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" autocomplete="off">
      <fieldset>
        <md-input-container>
          <label>First Name</label>
          <input type="text" id="firstName" name="firstName" data-ng-model="user.firstName">
        </md-input-container>
        <md-input-container>
          <label>Last Name</label>
          <input type="text" id="lastName" name="lastName" data-ng-model="user.lastName">
        </md-input-container>
        <md-input-container>
          <label>Email</label>
          <input type="email" id="email" name="email" data-ng-model="user.email">
        </md-input-container>
        <md-input-container>
          <label>Username</label>
          <input type="text" id="username" name="username" data-ng-model="user.username">
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">Save Profile</md-button>
        <div data-ng-show="success" layout="" layout-align="center">
          <md-button class="md-success">Profile Saved Successfully</md-button>
        </div>
        <div data-ng-show="error" layout="" layout-align="center">
          <md-button class="md-warn md-hue-2" data-ng-bind="error"></md-button>
        </div>
      </fieldset>
    </form>
  </md-whiteframe>
</section>
