<section data-ng-controller="SettingsController">
  <h1>Settings</h1>
  <div layout-gt-md="row" layout-align="space-around">
    <nav flex-gt-md="20">
      <ul class="nav nav-pills nav-stacked">
        <li data-ui-sref-active="active">
          <a data-ui-sref="settings.profile">Edit Profile</a>
        </li>
        <li data-ui-sref-active="active">
          <a data-ui-sref="settings.picture">Change Profile Picture</a>
        </li>
        <li data-ui-sref-active="active" data-ng-show="user.provider === 'local'">
          <a data-ui-sref="settings.password">Change Password</a>
        </li>
        <li data-ui-sref-active="active">
          <a data-ui-sref="settings.accounts">Manage Social Accounts</a>
        </li>
      </ul>
    </nav>
    <div data-ui-view flex-gt-md="75"></div>
  </div>
</section>
