<div data-ng-controller="AuthenticationController">
  <h3 layout="" layout-align="center center">Or with your account</h3>
  <md-whiteframe class="md-whiteframe-z1" layout="" layout-align="center center">
    <form data-ng-submit="signin()" autocomplete="off">
      <fieldset>
        <md-input-container>
          <label>Username</label>
          <input type="text" id="username" name="username" class="form-control"
               data-ng-model="credentials.username" placeholder="Username">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" id="password" name="password"
               data-ng-model="credentials.password" placeholder="Password">
        </md-input-container>
        <div layout="row">
          <md-button type="submit" class="md-raised md-primary">Sign in</md-button>
          <p>&nbsp; or&nbsp;</p>
          <md-button class="md-primary" data-ui-sref="authentication.signup">Sign up</md-button>
        </div>
        <md-button class="md-primary" data-ui-sref="password.forgot">Forgot your password?</md-button>
        <alert type="danger" data-ng-show="error" layout="" layout-align="center">
          <md-button class="md-raised md-warn" data-ng-bind="error"></md-button>
        </alert>
      </fieldset>
    </form>
  </md-whiteframe>
</div>

