<div data-ng-controller="AuthenticationController">
  <h3 layout="" layout-align="center center">Or sign up using your email</h3>
  <md-whiteframe class="md-whiteframe-z1" layout="" layout-align="center center">
    <form name="userForm" data-ng-submit="signup()" novalidate autocomplete="off">
      <fieldset>
        <div layout layout-sm="column">
          <md-input-container>
            <label>First Name</label>
            <input type="text" id="firstName" name="firstName"
                 data-ng-model="credentials.firstName">
          </md-input-container>
          <md-input-container>
            <label>Last Name</label>
             <input type="text" id="lastName" name="lastName"
                 data-ng-model="credentials.lastName">
          </md-input-container>
        </div>
        <md-input-container>
          <label>Email</label>
          <input type="email" id="email" name="email" data-ng-model="credentials.email">
        </md-input-container>
        <md-input-container>
          <label>Username</label>
          <input type="text" id="username" name="username"
               data-ng-model="credentials.username">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" id="password" name="password"
               data-ng-model="credentials.password">
        </md-input-container>
        <div layout="row" layout-align="center center">
          <md-button type="submit" class="md-raised md-primary">Sign up</md-button>
          <p>&nbsp; or&nbsp;</p>
          <md-button class="md-primary" data-ui-sref="authentication.signup">Sign in</md-button>
        </div>
        <alert type="danger" data-ng-show="error" layout="" layout-align="center">
          <md-button class="md-accent" data-ng-bind="error"></md-button>
        </alert>
      </fieldset>
    </form>
  </md-whiteframe>
</div>
