.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.img-responsive {
  max-width: 100%;
}
.header-profile-image {
  width: 24px;
  height: 24px;
  margin-top: 16px;
  margin-bottom: 12px;
  box-sizing: content-box;
  margin-right: 32px;
  border-radius: 50%;
}
md-sidenav ul {
  padding: 0;
}
fieldset {
  border: none;
}
.md-success {
  color: #00695c;
}
li.active {
  background-color: rgba(158,158,158,0.2);
}
a {
  color: #3F51B5;
}
